.permanent-marker-regular {
    font-family: "Permanent Marker", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.gabarito-400 {
    font-family: "Gabarito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  html {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background-color: #f2fcf6;
}

body {
    margin: 0;
    text-align: center;
    background-color: transparent;
    font-family: "Gabarito", serif;
}

a {
    background-color: transparent
}

a:active,
a:hover {
    outline-width: 0
}

img {
    border-style: none
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

button,
input,
select,
textarea,
optgroup {
    font: inherit;
    margin: 0
}

html,
body {
    font-family: "Lato", sans-serif;
    font-size: 15px;
    line-height: 1.5
}

html {
    overflow-x: hidden
}

h1 {
    font-size: 36px;
    font-family: "Permanent Marker", serif;
}

h2 {
    font-size: 30px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 20px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 16px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    margin: 10px 0;
    background-color: transparent;
}

hr {
    border: 0;
    border-top: 1px solid #eee;
    margin: 20px 0
}

img {
    vertical-align: middle
}

a {
    color: inherit
}

ul, li {
    list-style-type: none !important;
  }

@media screen and (max-width: 480px) {
    html {
        box-sizing: border-box
    }
  }